<web-app>
	<security-role>
		<role-name>role1</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JSPBook</web-resource-name>
			<url-pattern>/ch10/security02.jsp</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>role1</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
 		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/ch10/login.jsp</form-login-page>
			<form-error-page>/ch10/login_failed.jsp</form-error-page>
		</form-login-config>
 	</login-config>
 	
 	<error-page>
		<error-code>500</error-code>
		<location>/ch11/errorCode_error.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/ch11/exceptionType_error.jsp</location>
	</error-page>
<!--  예제12-1
	<filter>
		<filter-name>Filter01</filter-name>
		<filter-class>ch12.com.filter.AuthenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter01</filter-name>
		<url-pattern>/ch12/filter01_process.jsp</url-pattern>
	</filter-mapping>
-->		
<!-- 예제12-2
	<filter>
		<filter-name>Filter02</filter-name>
		<filter-class>ch12.com.filter.InitParamFilter</filter-class>
		<init-param>
			<param-name>param1</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>param2</param-name>
			<param-value>1234</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Filter02</filter-name>
		<url-pattern>/ch12/filter02_process.jsp</url-pattern>
	</filter-mapping>
-->	
<!-- 예제12-3 -->	
	<filter>
		<filter-name>Filter02_2</filter-name>
		<filter-class>ch12.com.filter.LogFileFilter</filter-class>
		<init-param>
			<param-name>filename</param-name>
			<param-value>c:\\logs\\monitor.log</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Filter02_2</filter-name>
		<url-pattern>/ch12/filter02_process.jsp</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>myController</servlet-name>
 		<servlet-class>ch18.com.controller.ControllerServlet</servlet-class>
 	</servlet>
 	<servlet-mapping>
		 <servlet-name>myController</servlet-name>
 		<url-pattern>/ch18/ControllerServlet</url-pattern>
	 </servlet-mapping>	
</web-app>